{% extends 'layout.html' %}
{% block content %}
    <section class="index-section-2">
        <div class="index-section-2__wrapper">
            <div class="index-section-2__wrapper__header">
                <div class="index-section-2__wrapper__header__sep"></div>
                <h3>Добавить камеру</h3>
                <div class="index-section-2__wrapper__header__sep"></div>
            </div>
        </div>
        <div class="index-section-2__wrapper-form">
            <form method="POST" action="" class="index-section-2__wrapper-form__form">
                <p>Название камеры:</p>
                <input placeholder="Введите название камеры" name="name"  type="text">
                <p>Координаты:</p>
                <input placeholder="Введите координаты" name="koord"  type="text">
                <button type="submit" name="add" value="add">Добавить запись в базу</button>
            </form>
        </div>
        <div class="index-section-2__table">
            <div class="index-section-2__table__header">
                <div class="index-section-2__table__header__count">
                    <p>#</p>
                </div>
                <div class="index-section-2__table__header__brand">
                    <p>Координаты</p>
                </div>
                <div class="index-section-2__table__header__id">
                    <p>Название камеры</p>
                </div>
            </div>
            <form method = "POST">
                {% for camera in camers %}
                  <div class="index-section-2__table__list">
                      <div class="index-section-2__table__list__count">
                          <p>{{camera.id}}</p>
                      </div>
                      <div class="index-section-2__table__list__brand">
                          <p>{{camera.name}}</p>
                      </div>
                      <div class="index-section-2__table__list__id">
                          <p>{{camera.koord}}</p>
                      </div>
                  </div>
                {% endfor %}
            </form>
        </div>
    </section>
{% endblock content %}