{% extends 'layout.html' %}
{% block content %}
    <section class="index-section-2">
        <div class="index-section-2__wrapper">
            <div class="index-section-2__wrapper__header">
                <div class="index-section-2__wrapper__header__sep"></div>
                <h3>Нарушения</h3>
                <div class="index-section-2__wrapper__header__sep"></div>
            </div>
        </div>
        <div class="index-section-2__table1">
            <div class="index-section-2__table1__header">
                <div class="index-section-2__table1__header__count">
                    <p>#</p>
                </div>
                <div class="index-section-2__table1__header__photo">
                    <p>Фото</p>
                </div>
                <div class="index-section-2__table1__header__brand">
                    <p>Марка</p>
                </div>
                <div class="index-section-2__table1__header__id">
                    <p>Гос. номер</p>
                </div>
                <div class="index-section-2__table1__header__time">
                    <p>Время</p>
                </div>
            </div>
            <form method = "POST">
                {% for destroy in destroys %}
                  <div class="index-section-2__table1__list">
                      <div class="index-section-2__table1__list__count">
                          <p>{{destroy.id}}</p>
                      </div>
                      <div class="index-section-2__table1__list__photo">
                          <p><a href="{{destroy.path}}">Открыть</a></p>
                      </div>
                      <div class="index-section-2__table1__list__brand">
                          <p>{{destroy.mark}}</p>
                      </div>
                      <div class="index-section-2__table1__list__id">
                          <p>{{destroy.number}}</p>
                      </div>
                      <div class="index-section-2__table1__list__time">
                          <p>{{destroy.time}}</p>
<!--                          <button type="submit" name="delete" value={{destroy.id}}>Удалить</button>-->
                      </div>
                  </div>
                {% endfor %}
            </form>
        </div>
    </section>
{% endblock content %}