{% extends 'layout.html' %}
{% block content %}
    <section class="index-section-2">
        <div class="index-section-2__wrapper">
            <div class="index-section-2__wrapper__header">
                <div class="index-section-2__wrapper__header__sep"></div>
                <h3>Камеры видеонаблюдения</h3>
                <div class="index-section-2__wrapper__header__sep"></div>
            </div>
        </div>
    </section>
    <section class="index-section-3">
        <div class="index-section-3__wrapper">
            <div class="index-section-3__wrapper__camera-list">
                <div class="index-section-3__wrapper__camera-list__camera">
                    <img src="{{ url_for('stream', dir='camera_1.mp4') }}" alt="camera1">
                </div>
                <div class="index-section-3__wrapper__camera-list__camera">
                    <img src="{{ url_for('stream', dir='camera_2.mp4') }}" alt="camera1">
                </div>
            </div>
        </div>
    </section>
{% endblock content %}