<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <title>HighPull</title>
</head>

<body>
    <section class="index-sction-1">
        <div class="index-sction-1__wrapper">
            <div class="index-sction-1__wrapper__logo">
                <img src="/static/images/1.png" alt="logo">
                <!-- <p>HighPull</p> -->
            </div>
            <div class="index-sction-1__wrapper__menu">
                <div class="index-sction-1__wrapper__menu__title">
                    <h3>Система распознавания автомобилей, находящихся в розыске</h3>
                </div>
                <div class="index-sction-1__wrapper__menu__list">
                    <div class="index-sction-1__wrapper__menu__list__element">
                        <p onclick="location.href='/';">Главная</p>
                    </div>
                    <div class="index-sction-1__wrapper__menu__list__element">
                        <p onclick="location.href='/search';">Розыск</p>
                    </div>
                    <div class="index-sction-1__wrapper__menu__list__element">
                        <p onclick="location.href='/map';">Карта</p>
                    </div>
                    <div class="index-sction-1__wrapper__menu__list__element">
                        <p onclick="location.href='/camera';">Камеры</p>
                    </div>
                    <div class="index-sction-1__wrapper__menu__list__element">
                        <p onclick="location.href='/destroy';">Нарушения</p>
                    </div>
                </div>
            </div>
            <div class="index-sction-1__wrapper__logo-kru">
                <img src="/static/images/qr3.png" alt="logo">
                <!-- <p>КрУ МВД</p> -->
            </div>
        </div>
    </section>

    {% block content %}{% endblock %}

</body>
<footer>
    <section class="footer-section">
        <div class="footer-section__left">
            <img src="/static/images/Gerb.png" alt="logo">
        </div>
        <div class="footer-section__middle">
            <p>Краснодарский университет МВД России</p>
            <p>Кафедра информационной безопасности</p>
        </div>
        <div class="footer-section__right">
        </div>
    </section>
</footer>

</html>