{% extends 'layout.html' %}
{% block content %}
    <section class="index-section-2">
        <div class="index-section-2__wrapper">
            <div class="index-section-2__wrapper__header">
                <div class="index-section-2__wrapper__header__sep"></div>
                <h3>Добавить в розыск</h3>
                <div class="index-section-2__wrapper__header__sep"></div>
            </div>
        </div>
        <div class="index-section-2__wrapper-form">
            <form method="POST" action="" class="index-section-2__wrapper-form__form">
                <p>Марка машины:</p>
                <input placeholder="Введите марку машины" name="mark" type="text">
                <p>Номер машины:</p>
                <input placeholder="Введите номер машины" name="number" type="text">
                <button type="submit" name="add" value="add">Добавить запись в базу</button>
            </form>
        </div>
        <div class="index-section-2__table">
            <div class="index-section-2__table__header">
                <div class="index-section-2__table__header__count">
                    <p>#</p>
                </div>
                <div class="index-section-2__table__header__brand">
                    <p>Марка</p>
                </div>
                <div class="index-section-2__table__header__id">
                    <p>Гос. номер</p>
                </div>
            </div>
            <form method = "POST">
                {% for car in cars %}
                  <div class="index-section-2__table__list">
                      <div class="index-section-2__table__list__count">
                          <p>{{car.id}}</p>
                      </div>
                      <div class="index-section-2__table__list__brand">
                          <p>{{car.mark}}</p>
                      </div>
                      <div class="index-section-2__table__list__id">
                          <p>{{car.number}}</p>
<!--                          <button type="submit" name="delete" value={{car.id}}>Удалить</button>-->
                      </div>
                  </div>
                {% endfor %}
            </form>
        </div>
    </section>
{% endblock content %}